# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# JavaScript/TypeScript
node_modules/
*.log
*.tsbuildinfo

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

*.http
