# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# JavaScript/TypeScript
node_modules/
*.log
*.tsbuildinfo

# IDEs
.vscode/
.idea/
*.iml
*.http

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.template
!.env.test
