@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

:root[data-theme="default"] {
    --bg-color: #323437;
    --main-color: #e2b714;
    --sub-color: #646669;
    --sub-alt-color: #2c2e31;
    --text-color: #d1d0c5;
    --error-color: #ca4754;
    --error-extra-color: #7e2a33;
    --colorful-error-color: #ca4754;
    --colorful-error-extra-color: #7e2a33;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--sub-color);
}

a {
    color: inherit;
    text-decoration: inherit;
}
